<%- include('partials/head') %>

  <%- include('partials/navbar') %>
    <h1>The Home Page <%='Hello World'.toUpperCase()%>
    </h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed gravida
      orci. Orci varius natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Nulla tristique fringilla nulla vel efficitur.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia curae; Suspendisse potenti. Donec id convallis magna. Suspendisse
      sodales rutrum dolor, nec lacinia nulla maximus at. Praesent aliquam
      volutpat tincidunt. Praesent luctus a lacus eu porta. Nulla bibendum diam
      augue, eget commodo massa posuere eu. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Cras commodo mauris ac rutrum imperdiet.
      Morbi congue tincidunt lacus, aliquet porta lectus egestas quis.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed gravida
      orci. Orci varius natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Nulla tristique fringilla nulla vel efficitur.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia curae; Suspendisse potenti. Donec id convallis magna. Suspendisse
      sodales rutrum dolor, nec lacinia nulla maximus at. Praesent aliquam
      volutpat tincidunt. Praesent luctus a lacus eu porta. Nulla bibendum diam
      augue, eget commodo massa posuere eu. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Cras commodo mauris ac rutrum imperdiet.
      Morbi congue tincidunt lacus, aliquet porta lectus egestas quis.
    </p>


    <%- include('partials/foot') %>